# Creting Pandas series
# constructor
# pandas.series(data, index, dtype, copy)

In [1]:
# creating series

In [2]:
# importing pandas
import pandas as pd

In [3]:
s=pd.Series()

<ipython-input-3-b65245d9df32>:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  s=pd.Series()

In [4]:
s

Series([], dtype: float64)

In [5]:
# defult datatype float64
s.dtypes

dtype('float64')

In [6]:
#  Change dtypes Explicitely

In [7]:
s=pd.Series(dtype=int)

In [8]:
s.dtypes

dtype('int32')

# Create Series from ndarray

In [9]:
import pandas as pd
import numpy as np

In [10]:
data=np.array(["a","b","c","d","e"])

In [11]:
s1=pd.Series(data=data)

In [12]:
s1

0    a
1    b
2    c
3    d
4    e
dtype: object

In [13]:
# now try for this one and check
data=np.array(["a","b","c","d","e",1])

In [14]:
s2=pd.Series(data=data)

In [15]:
s2

0    a
1    b
2    c
3    d
4    e
5    1
dtype: object

In [16]:
data1=["Mumbai","Pune"]
pd.Series(data=data1)

0    Mumbai
1      Pune
dtype: object

# Assign Index

In [17]:
pd.Series(data=data1,index=["city1","city2"])

city1    Mumbai
city2      Pune
dtype: object

# Create Series from Dictionary

In [18]:
dict1={"a":100,"b":101,"c":102}

In [19]:
pd.Series(data=dict1)

a    100
b    101
c    102
dtype: int64

In [20]:
#assign name to Series
series_name=pd.Series(data=dict1)

In [21]:
series_name

a    100
b    101
c    102
dtype: int64

# customizing index

In [22]:
dict1

{'a': 100, 'b': 101, 'c': 102}

In [23]:
series1=pd.Series(data=dict1,index=["c","a","b"]) #sequence can be customized

In [24]:
series1

c    102
a    100
b    101
dtype: int64

In [25]:
series2=pd.Series(data=dict1,index=["c","a","b","d"]) #sequence can be customized no value for index d so it is Nan

In [26]:
series2 #NaN ==> Not a Number

c    102.0
a    100.0
b    101.0
d      NaN
dtype: float64

# Create Series form Scalar

In [27]:
pd.Series(7,index=['a','b','c']) # scalar value ==>7

a    7
b    7
c    7
dtype: int64

# Accessing data from series

In [28]:
series2

c    102.0
a    100.0
b    101.0
d      NaN
dtype: float64

In [29]:
series2[0] # value at index 0

102.0

In [30]:
#retrieve first two elements
series2[0:2]  #==> slicing [start (incl) : end (exclu): step]

c    102.0
a    100.0
dtype: float64

In [31]:
#retrieve last two elements
series2[-2:]

b    101.0
d      NaN
dtype: float64

In [32]:
#retrieve last elements
series2[-2]

101.0

In [33]:
series2

c    102.0
a    100.0
b    101.0
d      NaN
dtype: float64

In [34]:
#retrieve alternate elements from 1 expected 1 and 4
series2[1::2]  #==> slicing [start : end : step]

a    100.0
d      NaN
dtype: float64

In [35]:
#first few elements
series2.head() #==> Default number record are 5

c    102.0
a    100.0
b    101.0
d      NaN
dtype: float64

In [36]:
#last few elements
series2.tail() #==> Default number record are 5

c    102.0
a    100.0
b    101.0
d      NaN
dtype: float64

In [37]:
#last few elements
series2.tail(1) #==> last element only by passing as 1

d   NaN
dtype: float64

In [38]:
#access using labal
series2['a']

100.0

In [39]:
list3=['a','d']
series2[list3]

a    100.0
d      NaN
dtype: float64

In [40]:
# if index not available

In [41]:
series2["f"] # no index so raise an error

KeyError: 'f'

In [ ]:
#handling Exception
try:
    series2["f"] # no index so raise an error

except:
    print(series2[-2])
    print("Ther no index \"f\" in series")