In [6]:
import pandas as pd

In [7]:
data = {'Name':['Jai', 'Princi', 'Gaurav', 'Anuj'], 
        'Age':[27, 24, 22, 32], 
        'Address':['@Delhi', 'Kanpur', '@Allahabad', 'Kannauj'], 
        'Qualification':['Msc', 'MA', 'MCA', 'Phd']}

In [8]:
df=pd.DataFrame(data=data)

In [9]:
df

     Name  Age     Address Qualification
0     Jai   27      @Delhi           Msc
1  Princi   24      Kanpur            MA
2  Gaurav   22  @Allahabad           MCA
3    Anuj   32     Kannauj           Phd

In [10]:
#canonot apply on whole data frame so apply on column only with text
df.str.lower()

AttributeError: 'DataFrame' object has no attribute 'str'

In [11]:
df["Name"].str.lower()

0       jai
1    princi
2    gaurav
3      anuj
Name: Name, dtype: object

In [30]:
#age contain int value
df["Age"].str.lower()

AttributeError: Can only use .str accessor with string values!

In [32]:
#convert text in upper case
df["Name"].str.upper()

0       JAI
1    PRINCI
2    GAURAV
3      ANUJ
Name: Name, dtype: object

In [37]:
#Find length of string
df["Name"].str.len()

0    3
1    6
2    6
3    4
Name: Name, dtype: int64

In [38]:
#concatenate of all string separated by "_"
df["Name"].str.cat(sep="_")

'Jai_Princi_Gaurav_Anuj'

In [39]:
#concatenate of all string separated by "@"
df["Name"].str.cat(sep="@")

'Jai@Princi@Gaurav@Anuj'

In [41]:
# is alpha return boolean array
df["Name"].str.isalpha()

0    True
1    True
2    True
3    True
Name: Name, dtype: bool

In [44]:
#string contains " " Space return boolen array
df["Name"].str.contains(" ")

0    False
1    False
2    False
3    False
Name: Name, dtype: bool

In [45]:
#replace one char by another one
df["Address"].str.replace("@","#")

0        #Delhi
1        Kanpur
2    #Allahabad
3       Kannauj
Name: Address, dtype: object

In [48]:
# count  on of aoocuarnces of specific pattern in text ==>str.count("Pattren")
df["Address"].str.count("@")

0    1
1    0
2    1
3    0
Name: Address, dtype: int64

In [51]:
# starts with specific pattern return bollen value for each row
df["Name"].str.startswith("P")

0    False
1     True
2    False
3    False
Name: Name, dtype: bool

In [52]:
#fetch the value with start with "P"
df[df["Name"].str.startswith("P")]

     Name  Age Address Qualification
1  Princi   24  Kanpur            MA

In [53]:
#islower() return boolean array if yes
df["Name"].str.islower()

0    False
1    False
2    False
3    False
Name: Name, dtype: bool

In [54]:
#isupper() return boolean array if yes
df["Name"].str.isupper()

0    False
1    False
2    False
3    False
Name: Name, dtype: bool

In [55]:
#istitle() return boolean array if yes
df["Name"].str.istitle()

0    True
1    True
2    True
3    True
Name: Name, dtype: bool

In [65]:
df["Address"].str.isnumeric()

0    False
1    False
2    False
3    False
Name: Address, dtype: bool

In [77]:
df["Age"].str.isnumeric() #By default numeric

AttributeError: Can only use .str accessor with string values!

In [81]:
#split string
df["Name"].str.split(" ")

0       [Jai]
1    [Princi]
2    [Gaurav]
3      [Anuj]
Name: Name, dtype: object

In [83]:
#split string
df["Name"].str.split("")

0             [, J, a, i, ]
1    [, P, r, i, n, c, i, ]
2    [, G, a, u, r, a, v, ]
3          [, A, n, u, j, ]
Name: Name, dtype: object