# Pandas Merging

In [8]:
#We can merge two dataframe in pandas python using "merge()" method
#merge allows you natural join, left join, right join and full outer join

In [1]:
import pandas as pd

In [21]:
df1=pd.DataFrame(data={"Cust_id":[1,2,3,4,5,6,8],
                      "product":["Ref","TV","Ref","TV","TV","Ref","radio"]})

In [24]:
df1

   Cust_id product
0        1     Ref
1        2      TV
2        3     Ref
3        4      TV
4        5      TV
5        6     Ref
6        8   radio

In [12]:
df2=pd.DataFrame(data={"Cust_id":[2,4,6,7],
                      "State":["KA","MH","AP","KA"]})

In [5]:
df2

   Cust_id State
0        2    KA
1        4    MH
2        6    AP

In [ ]:
#arguments
#left=dataframe1
#right=dataframe2
#on= column_name to join must be appear on both dataframe left and right
#how= type of join need
#==> left, right, inner, outer

#pd.merge(data_x,data_y,on="column_name",how="inner|outer|left|right")

In [22]:
#inner
#to keep only rows that match from dataframe df2
#inthis case Cust_id 2,4,6 match so it keep ==>natural join  ==>default =>intersection
pd.merge(df1,df2,on="Cust_id",how="inner")

   Cust_id product State
0        2      TV    KA
1        4      TV    MH
2        6     Ref    AP

In [23]:
#outer
#keep all rows from both dataframe x =>Union
pd.merge(df1,df2,on="Cust_id",how="outer")

   Cust_id product State
0        1     Ref   NaN
1        2      TV    KA
2        3     Ref   NaN
3        4      TV    MH
4        5      TV   NaN
5        6     Ref    AP
6        8   radio   NaN
7        7     NaN    KA

In [25]:
#left
#include all rows from dtaframe x ie left
# and only that match with y
pd.merge(df1,df2,on="Cust_id",how="left")

   Cust_id product State
0        1     Ref   NaN
1        2      TV    KA
2        3     Ref   NaN
3        4      TV    MH
4        5      TV   NaN
5        6     Ref    AP
6        8   radio   NaN

In [26]:
#right
#include all rows from dtaframe y ie right
# and only that match with x
#pd.merge(df1,df2,on="Cust_id",how="left")
pd.merge(df1,df2,on="Cust_id",how="right")

   Cust_id product State
0        2      TV    KA
1        4      TV    MH
2        6     Ref    AP
3        7     NaN    KA